* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 1.75em;
}

section {
    padding: 10px 10px 20px 10px;
}

section > div {
    border: 2px solid black;
    height: 150px;
    overflow: hidden;
}

section > div:hover {
    border: 2px solid black;
    height: 150px;
    overflow-y: auto;
    cursor: row-resize;
}

#chicken h2 {
    background-color: pink;
}

#beef h2 {
    background-color: red;
}

#sushi h2 {
    background-color: yellow;
}


section h2 {
    float: right;
    margin-top: -2px;
    margin-right: -2px;
    margin-bottom: 10px;
    border: 2px solid black;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.25em;
}

section article {
    clear: right;
    padding-left: 10px;
    padding-right: 10px;
}

/* desktop view (992px and above) */
@media (min-width: 992px) {
    .phone {
        display: none;
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
}
/* tablet view (between 768px and 991px, inclusively) */
@media (min-width: 768px) and (max-width: 991px) {
    .phone {
        display: none;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
      }
      .col-md-1 {
        width: 8.33%;
      }
      .col-md-2 {
        width: 16.66%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-5 {
        width: 41.66%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-8 {
        width: 66.66%;
      }
      .col-md-9 {
        width: 74.99%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-11 {
        width: 91.66%;
      }
      .col-md-12 {
        width: 100%;
      }
}
/* mobile view (equal to or less than 767px) */
@media (max-width: 767px) {
    .nonPhone {
        display: none;
    }
    h1.phone {
        text-align: left;
        margin-left: 10px;
        font-family: monospace;
        font-size: 1.25em;
    }
    section h2 {
        float: none;
        margin-bottom: 10px;
        border: none;
        border-bottom: 2px solid black;
        width: 100%;
        font-size: 1.25em;
        text-align: center;
    }
}