.navbar-brand h1 {
    margin-top: 0px;
}

#nav-list {
    text-align: center;
}

/* align brand with first section */
#header-nav .container {
    margin-left: 30px;
    padding-left: 0px;
}

.navbar-nav{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-header {
    padding-bottom: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-brand a {
    color: black;
}

.navbar-default .navbar-nav > li{
    outline: solid 2px black;
}

.navbar-default .navbar-nav > li > a{
    color: black;
}

#main-content h3 {
    font-weight: bold;
    margin-top: 5px;
}

#main-content p {
    padding: 10px;
}

#main-content > div {
    margin-bottom: 20px;
    padding: 10px;
}

#main-content > div > div {
    background-color: gray;
}

#main-content {
    padding: 20px;
}

#header-nav{
    margin-bottom: 0px;
    background-color: gray;
}

#collapsable-nav{
    background-color: white;
    margin-left: -30px;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

#main-content {
    background-color: white;
    height: 1000px;
    width: 100%;
}

@media (min-width: 768px) {
    #collapsable-nav{
        background-color: gray;
        border-style: none;
    }
}